*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: #1f1f1f;
}

h1 {
  font-weight: 700;
  font-size: 30px;

  color: #fff;
}

.container {
  background-color: #3a4dab;
  margin: 0 auto;
  padding: 0;
}
.hdr-h {
  text-align: center;
  padding: 25px;

  height: 100px;
  margin: 0 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #fff;
  background-color: #1f1f1f;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6 {
  border: 2px black solid;
  max-width: 14.3%;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  display: inline-block;
  color: #fff;
  background-color: #000;
}

.d1:hover {
  color: #000;
  background-color: #fff;
}

.d2:hover {
  color: black;
  background-color: #fff;
}

.d3:hover {
  color: black;
  background-color: #fff;
}

.d4:hover {
  color: #343234;
  background-color: #fff;
}

.d5:hover {
  color: black;
  background-color: #fff;
}

.d6:hover {
  color: black;
  background-color: #fff;
}

.d7,
.d8,
.d9,
.d10,
.d11,
.d12 {
  color: black;
  background-color: #fff;
  border: 2px black solid;
  max-width: 14.3%;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  display: inline-block;
}

.d7:hover {
  color: #fff;
  background-color: black;
}
.d8:hover {
  color: #fff;
  background-color: black;
}
.d9:hover {
  color: #fff;
  background-color: black;
}
.d10:hover {
  color: #fff;
  background-color: black;
}
.d11:hover {
  color: #fff;
  background-color: black;
}
.d12:hover {
  color: #fff;
  background-color: black;
}

.block-h {
  display: flex;
  justify-content: center;
}

.main-h2 {
  font-size: 30px;
  padding: 50px;
  background-color: black;
  text-align: center;
  margin: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}
.main-h2:hover,
.main-h2:focus {
  color: black;
  background-color: #fff;
}

.ftr {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
}

.ftr-foto {
  background-color: #1f1f1f;
}
